<form [formGroup]="form" fxLayout="column" fxLayoutGap="10px">
  <mat-form-field fxFlex="100%">
    <input matInput type="text" formControlName="name" placeholder="Recipe name">
    <mat-error *ngIf="form.get('name').hasError('required')">
      Recipe name is required
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex="100%">
    <textarea matInput placeholder="Description" formControlName="description" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5"></textarea>
    <mat-error *ngIf="form.get('description').hasError('required')">
      Description is required
    </mat-error>
  </mat-form-field>
  <label>
    <input type="file" (change)="detectFiles($event)">
  </label>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
  <div *ngIf="currentUpload?.url">
    <img src="{{currentUpload?.url}}" >
  </div>
  <button (click)="uploadImage()">Upload image</button>

  <div formArrayName="ingredients" *ngFor="let ingredient of formIngredients.controls">
      <input [formControl]="ingredient" placeholder="Add ingredient here">
  </div>
  <button (click)="addIngredient()">Add ingredient</button>

  <div formArrayName="steps" *ngFor="let step of formSteps.controls">
    <input [formControl]="step" placeholder="Add step description here">
  </div>
  <button (click)="addStep()">Add step</button>

  <button mat-button color="accent" (click)="submit()" [disabled]="form.invalid">save</button>
</form>
