<div class="cb-grid-list-holder">
  <mat-grid-list cols="4" rowHeight="500px" gutterSize="20px">
    <mat-grid-tile *ngFor="let recipe of recipeList$ | async" class="mat-elevation-z10">
      <mat-grid-tile-header>
        {{recipe.name}}
      </mat-grid-tile-header>
      <mat-grid-tile-footer class="cb-grid-list-item-footer">
        <button mat-button [routerLink]="['/my-recipes', recipe.key]">OPEN</button>
        <mat-slide-toggle [checked]="recipe.shared" (change)="shareToggled($event, recipe)" >SHARE</mat-slide-toggle>
      </mat-grid-tile-footer>
      <div class="cb-gris-list-item" fxFlex="100%" fxLayout="column">
        <img fxFlex="65%" src="{{recipe.imageUrl}}" alt="{{recipe.name}}">
        <p class="cb-recipe-description" fxFlex="110px">
          {{recipe.description}}
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
