@import '~@angular/material/theming';

@mixin registration-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .cb-registration-top-div {
    background-color: mat-color($primary);
  }

  .cb-registration-form-error {
    color: mat-color($warn);
  }
}
