@import '~@angular/material/theming';
@import "app/features/registration/components/registration-page.component-theme";

@include mat-core();

$cb-primary: mat-palette($mat-cyan, 800);
$cb-accent: mat-palette($mat-amber, 600);
$cb-warn: mat-palette($mat-red);

$cb-theme: mat-light-theme($cb-primary, $cb-accent, $cb-warn);

@include angular-material-theme($cb-theme);
@include registration-page-theme($cb-theme);
